{% extends 'base.html' %}
{% block content %}
 
{% if project %}

<table class="vulns">
        <tr><th>Target</th><th>Plugin ID</th><th>Port</th><th>Output</th></tr>
    {% for vuln in vulns %} 
        <tr class="report_{{vuln.vulnerability_reporting}}">
            <td>{{vuln.vulnerability_target}}</td>
            <td>{{vuln.vulnerability_source_id}}</td>
            <td>{{vuln.vulnerability_ports}}/{{vuln.vulnerability_protocol}}</td>
            <td>{{vuln.vulnerability_outputs}}</td>
        </tr>
    {% endfor %}
</table>    


{% else %}
    <p>No project with that id.</p>
{% endif %}
{% endblock %}